@import '../mixins.scss';

// Window
.bar {}

// Wrapper
.bar__wrapper {
  background-color: $bar-bg;
  padding: $bar-p;
  transition: background .2s ease-out;

  &.bar__wrapper--empty {
    background-color: transparent;
  }
}

// Sections
.bar__left {}
.bar__center {}
.bar__right {}

// Logo
.bar__logo {
  color: $bar-logo-bg;
  padding: $bar-logo-p;
}

// workspace
.bar__ws {}
.bar__ws__btn {}

.bar__ws__icon {
  color: $bar-ws-icon-bg;
  margin: $bar-ws-icon-space;

  &--selected {
    color: $bar-ws-icon-bg-selected;
  }

  &--existent {
    color: $bar-ws-icon-bg-existent;
  }
}

// Volume
.bar__volume {
  min-width: 100px;
}

.bar__volume__slider {
  @include slider;
}

// Brightness
.bar__brightness {
  min-width: 100px;
}

.bar__brightness__slider {
  @include slider;
}

// Clock
.bar__clock {
  font-weight: bold;
  padding: $bar-clock-p;
}

.bar__clock__date {
  min-width: 86px;
}

.bar__clock__time {
  min-width: 36px;
}

// Separator
.bar__separator {
  background: $bar-separator-bg;
}

// Systray
.bar__systray {}
.bar__systray__item {}

// Media
.bar__player {}

.bar__player__play,
.bar__player__previous,
.bar__player__next {
  border-radius: 50%;
}

.bar__player__play--disabled,
.bar__player__previous--disabled,
.bar__player__next--disabled {
  opacity: 0.2;
}

// System
.bar__progress {
  background-color: $surface0;
  color: $mauve;
  min-width: 28px;
  min-height: 28px;
  font-size: 5px;
}

.bar__progress__label {
  font-size: 10px;
  font-weight: bold;
}
