.network__container {
  background: transparent;
  margin-right: 160px;
}

.network__container {
  background: $color-crust;
  border-radius: $radius-md;
  min-width: 350px;
  padding: $space-md;
  margin-top: $space-sm;
}

.network__separator {
  background: $color-base;
  margin: $space-md 0;
}

// TOGGLE
.network__toggle {
  padding: 0 $space-sm;
}

.network__toggle__label {
  font-size: $font-md;
  font-weight: bold;
}

.network__toggle__switch {
  @include switch;
}

// LIST
.network__list__scroll {}

.network__list__empty {
  font-size: $font-md;
  padding: $space-md;
}

.network__list__scan {
  background: transparent;
}

// ITEM
.network__list__item {
  background: transparent;
  border-radius: $radius-md;
  padding: $space-sm $space-md;
  margin-bottom: $space-xs;

  &:hover {
    background: $color-mantle;
  }
  &--active {
    background: $color-base;

    .network__list__item__icon {
      background-color: $color-primary;
    }
  }
}

.network__list__item__icon {
  border-radius: 50%;
  background-color: $color-base;
  padding: $space-sm;
  margin-right: $space-md;
}

.network__list__item__label {
  font-size: $font-md;
}

// Dialog
.network__dialog {
}

.network__dialog__title {
  font-size: $font-lg;
  font-weight: bold;
  margin-bottom: $space-lg;
}

.network__dialog__description {
  font-size: $font-md;
  margin-bottom: $space-lg;
}

.network__dialog__input {
  font-size: $font-md;
  font-weight: bold;
  padding: $space-sm $space-md;
}
