.notifications {
  padding: 2px 2px 20px;
}

.notification {
  background: $crust;
  border-radius: 12px;
  min-width: 350px;
  padding: 20px;
  margin: 2px;

  &--critical {
    border: 1px solid lightcoral;
  }
}

.notification__icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 10px;
  border-radius: 4px;

  image {
    font-size: 58px;
  }

  box {
    min-width: 68px;
    min-height: 68px;
  }
}

.notification__info {}

.notification__title {
  font-size: 1.4em;
}

.notification__body {
  font-size: 1.1em;
}

.notification__actions__button {
  margin: 0 .4em;
  margin-top: .8em;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}
