$notifications-padding: $space-xs $space-xs $space-lg;
$notification-height: 2000px;
$notification-bg: $color-crust;
$notification-radius: $radius-lg;
$notification-width: 350px;
$notification-padding: $space-lg;
$notification-border: $color-red;
$notification-margin: $space-xs;
$notification-icon-size: 68px;
$notification-icon-image-size: 58px;
$notification-icon-margin: 0 $space-lg 0 0;
$notification-icon-radius: $radius-sm;
$notification-title: $font-md;
$notification-title-margin: 0 0 $space-sm;
$notification-message: $font-sm;
$notification-actions-button-margin: $space-md $space-sm;

.notifications {
  min-height: $notification-height;
  padding: $notifications-padding;
}

.notification {
  background: $notification-bg;
  border-radius: $notification-radius;
  min-width: $notification-width;
  padding: $notification-padding;
  margin: $notification-margin;

  &--critical {
    border: 1px solid $notification-border;
  }
}

.notification__icon {
  border-radius: $notification-icon-radius;
  min-width: $notification-icon-size;
  min-height: $notification-icon-size;
  margin: $notification-icon-margin;

  image {
    font-size: $notification-icon-image-size;
  }

  box {
    border-radius: $notification-icon-radius;
    min-width: $notification-icon-size;
    min-height: $notification-icon-size;
  }
}

.notification__info {}

.notification__title {
  font-size: $notification-title;
  margin: $notification-title-margin;
}

.notification__body {
  font-size: $notification-message;
}

.notification__actions__button {
  margin: $notification-actions-button-margin;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

