$progress-size: 96px;
$progress-stroke: 10px;

.system-info-hover {
  background: transparent;
}

.system-info-hover__container {
  background: $color-crust;
  border-radius: $radius-md;
  padding: $space-md;
  margin-top: $space-sm;
  margin-right: 390px;
}

.system-info-hover__graph {
  background-color: $color_surface0;
  color: $color-primary;
  min-width: $progress-size;
  min-height: $progress-size;
  font-size: $progress-stroke;
}

.system-info-hover__graph__label {
  font-size: $font-md;
  font-weight: bold;
}
