$slider-bg: rgba(0, 0, 0, .4);
$slider-fg: $color-mauve;
$slider-h: 10px;
$slider-br: 10px;

@mixin slider($bg: $slider-bg, $fg: $slider-fg, $height: $slider-h, $radius: $slider-br) {
  trough {
    border-radius: $radius;
    background-color: $bg;
    min-height: $height;
  }

  trough highlight {
    background: $fg;
    border-radius: $radius;
    transition: none;
  }

  slider {
    box-shadow: none;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: $radius;
    min-height: $height;
    margin: 0;
  }
}

