$bar-bg: rgba(0, 0, 0, .5);
$bar-h: 30px;
$bar-p: 6px;

$bar-logo-bg: $mauve;
$bar-logo-p: 0 22px;

$bar-ws-icon-bg: $crust;
$bar-ws-icon-bg-existent: $surface0;
$bar-ws-icon-bg-selected: $mauve;
$bar-ws-icon-space: 2px;

$bar-clock-p: 0 22px;

