$bar-bg: $crust;
$bar-p: 6px 24px;

$bar-logo-bg: $mauve;
$bar-logo-p: 0;

$bar-ws-icon-bg: rgba(255, 255, 255, .06);
$bar-ws-icon-bg-existent: rgba(255, 255, 255, .2);
$bar-ws-icon-bg-selected: $mauve;
$bar-ws-icon-space: 0 2px;

$bar-clock-p: 0;

$bar-separator-bg: rgba(255, 255, 255, .1);

$slider-bg: rgba(0, 0, 0, .4);
$slider-fg: $mauve;
$slider-h: 10px;
$slider-br: 10px;
