$bar-bg: $color-crust;
$bar-pad: $space-sm $space-lg;
$bar-logo-bg: $color-primary;

$bar-ws-icon-bg: rgba(255, 255, 255, .06);
$bar-ws-icon-bg-existent: rgba(255, 255, 255, .2);
$bar-ws-icon-bg-selected: $color-primary;
$bar-ws-icon-space: 0 $space-xs;

$bar-separator-bg: rgba(255, 255, 255, .1);

$bar-slider-size: 100px;

$bar-clock-time-width: 36px;
$bar-clock-date-width: 86px;

$bar-progress-bg: $color-surface0;
$bar-progress-color: $color-primary;
$bar-progress-font: $font-xs;
$bar-progress-size: 28px;
$bar-progress-stroke: 4px;

// Window
.bar {}

// Wrapper
.bar__wrapper {
  background-color: $bar-bg;
  padding: $bar-pad;
  transition: background .2s ease-out;

  &.bar__wrapper--empty {
    background-color: transparent;
  }
}

.bar__unstyled__button {
  @include unstyledButton;
}


// Sections
.bar__left {}
.bar__center {}
.bar__right {}

// Logo
.bar__logo {
  color: $bar-logo-bg;
}

// workspace
.bar__ws {}
.bar__ws__btn {}

.bar__ws__icon {
  color: $bar-ws-icon-bg;
  margin: $bar-ws-icon-space;

  &--selected {
    color: $bar-ws-icon-bg-selected;
  }

  &--existent {
    color: $bar-ws-icon-bg-existent;
  }
}

// Volume
.bar__volume {
  min-width: $bar-slider-size;
}

.bar__volume__slider {
  @include slider;
}

// Brightness
.bar__brightness {
  min-width: $bar-slider-size;
}

.bar__brightness__slider {
  @include slider;
}

// Clock
.bar__clock {
  font-weight: bold;
}

.bar__clock__date {
  min-width: $bar-clock-date-width;
}

.bar__clock__time {
  min-width: $bar-clock-time-width;
}

// Separator
.bar__separator {
  background: $bar-separator-bg;
}

// Systray
.bar__systray {}
.bar__systray__item {}

// Media
.bar__player {}

.bar__player__play,
.bar__player__previous,
.bar__player__next {
  border-radius: 50%;
}

.bar__player__play--disabled,
.bar__player__previous--disabled,
.bar__player__next--disabled {
  opacity: 0.2;
}

// System
.bar__progress {
  background-color: $bar-progress-bg;
  color: $bar-progress-color;
  min-width: $bar-progress-size;
  min-height: $bar-progress-size;
  font-size: $bar-progress-stroke;
}

.bar__progress__label {
  font-size: $bar-progress-font;
  font-weight: bold;
}
