.bar__system-menu__container {
  background: transparent;
  margin-left: 20px;
}

.bar__system-menu__container {
  background: $color-crust;
  border-radius: $radius-md;
  min-width: 200px;
  padding: $space-md;
  margin-top: $space-sm;
}

.bar__system-menu__separator {
  background: $color-base;
  margin: $space-md 0;
}

.bar__system-menu__item {
  background: transparent;
  font-size: $font-md;
  margin-bottom: $space-xs;
}

