$launcher-bg: $color-mantle;
$launcher-radius: $radius-lg;
$launcher-width: 600px;
$launcher-pad: $space-lg;

$launcher-search-bg: $color-crust;
$launcher-search-font: $font-lg;
$launcher-search-pad: $space-md $space-lg;
$launcher-search-color: $color-surface2;

$launcher-scroll-margin: $space-lg 0 0;

$launcher-item-padding: $space-sm;
$launcher-item-icon-margin: 0 $space-md 0 0;
$launcher-item-font: $font-md;

$launcher-item-bg: $color-mantle;
$launcher-item-bg-focus: rgba(0, 0, 0, .15);

$launcher-calc-font: $font-lg;
$launcher-calc-pad: $space-lg;
$launcher-calc-margin: $space-md 0 0;
$launcher-calc-color: $color-surface2;

.launcher {
  background: transparent;
}

.launcher__box {
  background: $launcher-bg;
  border-radius: $launcher-radius;
  min-width: $launcher-width;
  padding: $launcher-pad;
}

.launcher__search {
  background: $launcher-search-bg;
  box-shadow: none;
  font-size: $launcher-search-font;
  font-weight: bold;
  color: $launcher-search-color;
  padding: $launcher-search-pad;
}

.launcher__scroll {
  margin: $launcher-scroll-margin;
}

.launcher__item {
  background: $launcher-item-bg;

  &:focus {
    box-shadow: none;
    background: $launcher-item-bg-focus;
  }
}

.launcher__item__container {
  padding: $launcher-item-padding;
}

.launcher__item__icon {
  margin: $launcher-item-icon-margin;
}

.launcher__item__label {
  font-size: $launcher-item-font;
}

.launcher__calc {
  padding: $launcher-calc-pad;
  margin: $launcher-calc-margin;
}

.launcher__calc__label {
  font-size: $launcher-calc-font;
  color: $launcher-calc-color;
  font-weight: bold;
}
