@import '../../mixins.scss';

$bar-bg: rgba(0, 0, 0, .5);
$bar-h: 30px;
$bar-p: 6px;

$bar-logo-bg: $mauve;
$bar-logo-p: 0 22px;

$bar-ws-icon-bg: $surface1;
$bar-ws-icon-bg-hover: $surface1;
$bar-ws-icon-bg-active: $crust;
$bar-ws-icon-bg-selected: $mauve;
$bar-ws-icon-space: 2px;

$bar-clock-p: 0 22px;

// Window
.bar {}

// Wrapper
.bar__wrapper {
  background-color: $bar-bg;
  min-height: $bar-h;
  padding: $bar-p;
}

// Sections
.bar__left {}

.bar__right {}


// Logo
.bar__logo {
  color: $bar-logo-bg;
  padding: $bar-logo-p;
}

// workspace
.bar__ws {}

.bar__ws__btn {}

.bar__ws__icon {
  color: $bar-ws-icon-bg;
  margin: 0 $bar-ws-icon-space;

  &:hover {
    color: $bar-ws-icon-bg-hover;
  }

  &:active {
    color: $bar-ws-icon-bg-active;
  }

  &--selected {
    color: $bar-ws-icon-bg-selected;
  }
}

// Volume
.bar__volume {
  min-width: 100px;
}

.bar__volume__slider {
  @include slider;
}

// Brightness
.bar__brightness {
  min-width: 100px;
}

.bar__brightness__slider {
  @include slider;
}

// Clock
.bar__clock {
  font-weight: bold;
  padding: $bar-clock-p;
}

.bar__clock__date {
  min-width: 86px;
}

.bar__clock__time {
  min-width: 64px;
}



// label {
//   font-weight: bold;
// }
// .client-title {
//   color: @theme_selected_bg_color;
// }
//
// .notification {
//   color: yellow;
// }
//
// levelbar block,
// highlight {
//   min-height: 10px;
// }
