$bar-bg: $crust;
$bar-h: 30px;

$bar-logo-bg: $mauve;
$bar-logo-p: 0 22px;

$bar-ws-icon-bg: $surface1;
$bar-ws-icon-bg-hover: $surface1;
$bar-ws-icon-bg-active: $crust;
$bar-ws-icon-bg-selected: $mauve;
$bar-ws-icon-space: 2px;

$bar-clock-p: 0 22px;

// Window
.bar {}

// Wrapper
.bar__wrapper {
  background-color: $bar-bg;
  min-height: $bar-h;
}

.bar__logo {
  color: $bar-logo-bg;
  padding: $bar-logo-p;
}

// workspace
.bar__ws {}

.bar__ws__btn {}

.bar__ws__icon {
  color: $bar-ws-icon-bg;
  margin: 0 $bar-ws-icon-space;

  &:hover {
    color: $bar-ws-icon-bg-hover;
  }

  &:active {
    color: $bar-ws-icon-bg-active;
  }

  &--selected {
    color: $bar-ws-icon-bg-selected;
  }
}

// Clock
.bar__clock {
  font-weight: bold;
  padding: $bar-clock-p;
}

.bar__clock__date {
  min-width: 70px;
}

.bar__clock__time {
  min-width: 30px;
}

// label {
//   font-weight: bold;
// }
// .client-title {
//   color: @theme_selected_bg_color;
// }
//
// .notification {
//   color: yellow;
// }
//
// levelbar block,
// highlight {
//   min-height: 10px;
// }
